body{
    margin: 0px;
    background-color: antiquewhite;
    margin: 0 auto;
    font-size: 20px;
    line-height: 30px;
}

header{
    background-color: rgb(172, 157, 138);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

header h1{
    color:antiquewhite;
    font-size: 70px;
    font-family: 'Fugaz One', 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header img{
    border-radius: 1000px;
    width: 400px;
    border: 5px solid antiquewhite;
}

main{
    max-width:1920px;
    padding: 0 50px 100px 50px

}

main img{
    max-width: 50%
}

footer{
    padding: 10px 50px 15px 50px;
    background-color: rgb(172, 157, 138) ;
    color:antiquewhite;
}
footer p{
    margin: 0px;
}
footer a{
    color:antiquewhite
}
footer a:hover{
    color:rgb(208, 216, 224);
    background-color: transparent;
}